/* line 4, /Users/nbialostosky/Desktop/ruby-sample-app/ci_app/app/assets/stylesheets/orange.scss */
body {
  background-color: dimgray;
}

/* line 7, /Users/nbialostosky/Desktop/ruby-sample-app/ci_app/app/assets/stylesheets/orange.scss */
.orange-button {
  padding-top: 200px;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

/* line 13, /Users/nbialostosky/Desktop/ruby-sample-app/ci_app/app/assets/stylesheets/orange.scss */
.orange-click {
  width: 250px;
  height: 250px;
  font-size: 40px;
  background-color: #b27300;
  border: none;
  box-shadow: 2px 2px #2E2F30;
  border-radius: 60%;
}

/* line 23, /Users/nbialostosky/Desktop/ruby-sample-app/ci_app/app/assets/stylesheets/orange.scss */
.orange-click {
  width: 5.6em;
  height: 5.6em;
  border-radius: 50%;
  background-color: #ffb526;
  box-shadow: inset 0.2em -.2em  #cc8a0c;
  top: 0.9em;
  left: 0.3em;
}

/* line 33, /Users/nbialostosky/Desktop/ruby-sample-app/ci_app/app/assets/stylesheets/orange.scss */
.orange-click:focus {
  outline: none;
}

/* line 37, /Users/nbialostosky/Desktop/ruby-sample-app/ci_app/app/assets/stylesheets/orange.scss */
.banana-text {
  text-align: center;
  font-family: 'Muli', sans-serif;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

