// Place all the styles related to the orange controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: dimgray;
}
.orange-button {
  padding-top: 200px;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.orange-click {
  width: 250px;
  height: 250px;
  font-size: 40px;
  background-color: #b27300;
  border: none;
  box-shadow: 2px 2px #2E2F30;
  border-radius: 60%;
}

.orange-click {
  width: 5.6em;
  height: 5.6em;
  border-radius: 50%;
  background-color: #ffb526;
  box-shadow: inset 0.2em -.2em  #cc8a0c;
  top:0.9em;
  left: 0.3em;
}

.orange-click:focus {
  outline: none;
}

.banana-text {
  text-align: center;
  font-family: 'Muli', sans-serif;
}
